@model Tekstowo.Domain.Entities.Song
@if (Session["UserNickname"] == null)
{
    Response.Redirect("~/");
}
<div class="panel">
    <div class="panel-heading">
        Dodaj utwór
    </div>
    @using (Html.BeginForm())
    {
    <div class="panel-body">
        <div>
            <label>Nazwa zespołu:</label>
            @Html.TextBoxFor(m => m.ArtistName)
        </div>
        <div>
            <label>Nazwa utworu:</label>
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div>
            <label>Tekst:</label>
            @Html.TextAreaFor(m => m.Lyrics)
        </div>
    </div>
    <div class="panel-footer">
        <input type="submit" />
    </div>
        
    }
</div>