@using Tekstowo.Domain.Entities
@model IEnumerable<Song>
@{
                /**/

                ViewBag.Title = "Produkty";
}
@foreach (var p in Model)
{
<div>
    <h3>@p.ArtistName - @p.Name</h3>
   
    <h4>@p.Lyrics</h4>
</div>
}