@using Tekstowo.Domain.Entities
@model Tekstowo.WebUI.Models.SongListViewModelcs
@{
                /**/

                ViewBag.Title = "Piosenki";
}
@foreach (var m in Model.Songs)
{
<div>
    <h3>@m.ArtistName - @m.Name</h3>
   
    <h4>@m.Lyrics</h4>
</div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>