@model Tekstowo.WebUI.Models.SongListViewModels
@foreach (var s in Model.Songs)
{
    <div class="well">
        <h3>
            <a href="/Lyrics/@s.SongId"><strong>@s.ArtistName - @s.Name</strong></a>
            
        </h3>
        
    </div>
}
