@model Tekstowo.WebUI.Models.ArtistListViewModels

@foreach (var s in Model.Artists)
{
    <div class="well">    
        <a href="/Songs/@s.ArtistId">
            <strong>@s.Name</strong>
        </a>   
    </div>
}
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.ArtistPagingInfo, x => Url.Action("List", new { page = x }))
    </div>

