@model Tekstowo.Domain.Entities.User
@if (Session["UserNickname"] != null)
{
    Response.Redirect("~/");
}
<div class="panel">
    <div class="panel-heading">
        Logowanie
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            <div>
                <label>Login:</label>
                @Html.TextBoxFor(u=>u.UserNickname)
            </div>
            <div>
                <label>Hasło:</label>
                @Html.TextBoxFor(u=>u.UserPassword)
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Zaloguj" />
        </div>
    }
</div>