<div class="well">
    <a href="/Artists/1"><strong>Zespoły</strong></a>
</div>
<div class="well">
    <a href="/Songs"><strong>Najnowsze teksty piosenek</strong></a>
</div>
@if (Session["UserNickname"] != null)
{
    <div class="well">
        <a href="/AddLyrics"><strong>Dodaj tekst piosenki</strong></a>
    </div>
    if (Session["UserType"].Equals("Admin"))
    {
        <div class="well">
            <a href="/Admin/SongList"><strong>Panel administracyjny</strong></a>
        </div>
    }
    <div class="well">
        <a href="/Logout"><strong>Wyloguj</strong></a>
    </div>
}
@if (Session["UserNickname"] == null)
{
    <div class="well">
        <a href="/Registration"><strong>Rejestruj</strong></a>
    </div>
    <div class="well">
        <a href="/Login"><strong>Zaloguj</strong></a>
    </div>
}


