<div class="well"> 
    <a href="/Artists/1"><strong>Zespoły</strong></a>
</div>
<div class="well"> 
    <a href="/Songs"><strong>Najnowsze teksty piosenek</strong></a>
</div>
<div class="well">
    <a href="/AddLyrics"><strong>Dodaj tekst piosenki</strong></a>
</div>
